<h1>{{name}} - {{month}}</h1>

<p>
  <a href="/?week={{previousWeekEpoch}}">Previous</a> | {{#if showTodayLink}}<a href="/">Today</a> |{{/if}} <a href="/?week={{nextWeekEpoch}}">Next</a>
</p>

<table>
  {{#each days}}
    <tr>
      <td>
        {{title}} <span style="float: right;"><a href="/event/new?date={{date}}">(+)</a></span>
      </td>
      <td>
        <ul>
          {{#each events}}
            <li>{{title}} - {{description}}</li>
          {{/each}}
        </ul>
      </td>
    </tr>
  {{/each}}
</table>
