<div class="content">
  <h1>{{name}} - {{month}}</h1>

  <p>
    <a href="/?week={{previousWeekEpoch}}">Previous</a> | {{#if showTodayLink}}<a href="/">Today</a> |{{/if}} <a href="/?week={{nextWeekEpoch}}">Next</a>
  </p>

  <table class="table">
    {{#each days}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          <ul>
            {{#each events}}
              <li>
                {{title}}
                {{#if description}} - {{description}}{{/if}}
                <a href="/event/edit/{{_id}}?referer={{../../week}}">(edit)</a>
                <a href="/event/delete/{{_id}}?referer={{../../week}}">(delete)</a>
              </li>
            {{/each}}
          </ul>
        </td>
        <td>
          <a href="/event/new?date={{date}}&referer={{../week}}">(+)</a>
        </td>
      </tr>
    {{/each}}
  </table>

</content>
