<div class="content">
  <div class="is-clearfix">
    <h1 style="float: left;">{{name}} - {{month}}</h1>

    <button class="button" id="lock-button" style="float: right;">
      <span class="icon">
        <i class="fas" id="lock-icon"></i> <!-- Icon class is populated by JS below -->
      </span>
    </button>
  </div>

  <p>
    <a href="/?week={{previousWeekEpoch}}">Previous</a> | {{#if showTodayLink}}<a href="/">Today</a> |{{/if}} <a href="/?week={{nextWeekEpoch}}">Next</a>
  </p>

  <table class="table">
    {{#each days}}
      <tr>
        <td style="width: 20%; padding: 0.5em 0em; vertical-align: middle; text-align: center; font-family: 'VT323', monospace; font-size: 1.5em;">
          {{title}}
        </td>
        <td style="width: 60%; padding: 0.5em 0em; vertical-align: middle;">
          {{#each events}}
            <div>
              {{title}}
              {{#if description}} - {{description}}{{/if}}
              {{#if tag}}<span class="tag is-light is-{{tagDisplayColour}}">{{tagDisplayName}}</span>{{/if}}
              <a href="/event/edit/{{_id}}?referer={{../../week}}" class="toggleable-edit-control">
                (edit)
              </a>
            </div>
          {{/each}}
        </td>
        <td style="width: 10%; padding: 0.5em 0em; vertical-align: middle;">
          <a href="/event/new?date={{date}}&referer={{../week}}" class="toggleable-edit-control">
            (+)
          </a>
        </td>
      </tr>
    {{/each}}
  </table>

</content>

<style type="text/css" id="tmp-style">.toggleable-edit-control { display: none; }</style>
<script type="text/javascript">
  $(() => {
    const states = ['locked', 'unlocked'];
    let state = ''

    const isLocked = () => state === states[0];
    const toggle = () => update(states[Number(isLocked())]);
    const update = (newState, opts = {}) => {
      state = newState;
      window.localStorage.setItem('lockedState', state);
      $('#lock-icon').toggleClass('fa-lock', isLocked()).toggleClass('fa-lock-open', !isLocked());
      const fade = typeof opts.fade === 'boolean' ? opts.fade : true;
      const operation = isLocked() ? (fade ? 'fadeOut' : 'hide') : 'fadeIn';
      $('.toggleable-edit-control')[operation]();
    };

    $('#lock-button').click(toggle);

    //
    // Handle the initial page load manually instead of setting the state and calling 'update'
    //
    update(window.localStorage.getItem('lockedState') || states[0], { fade: false });
    $('#tmp-style').remove();
  });
</script>
