<div class="content">
  <div class="is-clearfix">
    <h1 style="float: left;">{{name}} - {{month}}</h1>

    <button class="button" id="lock-button" style="float: right;">
      <span class="icon">
        <i class="fas" id="lock-icon"></i> <!-- Icon class is populated by JS below -->
      </span>
    </button>
  </div>

  <p>
    <a href="/?week={{previousWeekEpoch}}">Previous</a> | {{#if showTodayLink}}<a href="/">Today</a> |{{/if}} <a href="/?week={{nextWeekEpoch}}">Next</a>
  </p>

  <table class="table">
    {{#each days}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          <ul>
            {{#each events}}
              <li>
                {{title}}
                {{#if description}} - {{description}}{{/if}}
                <a href="/event/edit/{{_id}}?referer={{../../week}}" class="toggleable-edit-control">
                  (edit)
                </a>
                <a href="/event/delete/{{_id}}?referer={{../../week}}" class="toggleable-edit-control">
                  (delete)
                </a>
              </li>
            {{/each}}
          </ul>
        </td>
        <td>
          <a href="/event/new?date={{date}}&referer={{../week}}" class="toggleable-edit-control">
            (+)
          </a>
        </td>
      </tr>
    {{/each}}
  </table>

</content>

<style type="text/css" id="tmp-style">.toggleable-edit-control { display: none; }</style>
<script type="text/javascript">
  $(() => {
    const states = ['locked', 'unlocked'];
    let state = window.localStorage.getItem('lockedState') || states[0];

    const isLocked = () => state === states[0];
    const toggle = () => update(states[Number(isLocked())]);
    const icon = () => {
      $('#lock-icon').toggleClass('fa-lock', isLocked()).toggleClass('fa-lock-open', !isLocked());
    };
    const update = (newState) => {
      state = newState;
      window.localStorage.setItem('lockedState', state);
      icon();
      if (isLocked()) {
        $('.toggleable-edit-control').fadeOut();
      } else {
        $('.toggleable-edit-control').fadeIn();
      }
    };

    $('#lock-button').click(toggle);

    //
    // Handle the initial page load manually instead of setting the state and calling 'update'
    //
    if (isLocked()) {
      $('.toggleable-edit-control').hide();
    } else {
      $('.toggleable-edit-control').show();
    }
    $('#tmp-style').remove();
    icon();
  });
</script>
